*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #000;
  color: #fff;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* css reset kodu ---> 'https://www.joshwcomeau.com/css/custom-css-reset/' */
h4 {
  color: #fff;
  font-size: 20px;
}
/* #login {
  top: 200px;
  left: 150px;
}
#register {
  left: 630px;
} */
details {
  padding: 12px;
  /* border-left: 1px solid #2f3336;
  border-top: 1px solid #2f3336;
  border-bottom: 1px solid #2f3336; */
}
summary {
  display: flex;
  align-items: center;
  gap: 12px;
}
.container {
  width: 1265px;
  margin: 0 auto;
  display: flex;
}
.main {
  display: flex;
  flex: 1;
  gap: 30px;
}
.content {
  max-width: 600px;
  flex: 1;
  border-left: 1px solid #2f3336;
  border-right: 1px solid #2f3336;
}
.leftbar {
  width: 275px;
  height: 100vh;
  position: sticky; 
  top: 0;
  /* 100vh 'view height' ekranın görünen yüksekliğinin tamamı anlamına gelir */
}
.logo {
  width: 60px;
  height: 60px;
}
.rightbar {
  width: 350px;
  height: 100vh;
  padding-top: 8px;
  position: sticky;
  top: 0;
  overflow-x: hidden
}
.navbar {
  padding-left: 5px;
}
.navbarBox {
  display: inline-flex;
  align-items: center;
  padding: 12px;
  height: 50.25px;
  gap: 12px;
  border-radius: 25px;
  transition: 0.3s;
}
.navbarBox:hover {
  background-color: #2f3336;
}
.details {
  display: flex;
  align-items: center;
  gap: 12px;
}
details[open] summary {
  padding-bottom: 20px;
}
.details:hover {
  background-color: #2f3336;
}
.filterTweet {
  position: sticky;
  top: 0;
  display: flex;
  width: 598px;
  height: 53px;
  border-bottom: 1px solid #2f3336;
  background-color: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(2px);
}
.filterTweet h5 {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 15px;
}
.filterForyou {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.65);
  color: #71767b;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.filterForyou:hover {
  background-color: #2f3336;
}
.filterForyou:focus h5 {
  border-bottom: 4px solid rgb(29, 155, 240);
  color: #fff;
}
.filterFollowing {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.65);
  color: #71767b;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.filterFollowing:hover {
  background-color: #2f3336;
}
.filterFollowing:focus h5 {
  border-bottom: 4px solid rgb(29, 155, 240);
  color: #fff;
}
.searchBar {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #2f3336;
  border-radius: 25px;
  height: 42px;
  width: 350px;
  border: none;
  margin-bottom: 12px;
}
.searchBar svg {
  color: rgb(113, 118, 123);
}
.searchBar input {
  border: none;
  outline: none;
  padding: 10px 10px 10px 40px;
  width: 100%;
  height: 100%;
  background-color: #2f3336;
  border-radius: 25px;
  color: #fff;
}
.searchBar button {
  position: absolute;
  left: 15px;
  border: none;
  background: none;
}
.searchBar input:focus {
  border: 1px solid;
  border-color: rgb(29, 155, 240);
}
.subscribeBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
  background-color:rgb(22, 24, 28);
  border-radius: 15px;
  padding: 12px 16px;
  margin-bottom: 16px;
}
.subscribeBox button {
  width: 106px;
  height: 36px;
  border-radius: 12px;
  padding: 0 16px;
  border: none;
  background-color: rgb(29, 155, 240);
  color: #fff;
}
.trends {
  width: 350px;
  background-color: rgb(22, 24, 28);
  border-radius: 15px;
}
.trends h1 {
  margin-bottom: 16px;
  padding: 12px 16px;
}
.countryDetail {
  display: flex;
  justify-content: space-between;
}
.trendingsDetails {
  display: grid;
  gap: 2px;
  padding: 12px 16px;
}
.trendingsDetails span {
  font-size: 13px;
  color: rgb(113, 118, 123);
}
.trendingsDetails:hover {
  cursor: pointer;
  background-color: #ffffff04;
}
.btnSub {
  cursor: pointer;
  transition: 0.3s;
}
.btnSub:hover {
  background-color: rgb(24, 129, 199);
}
.btnPost {
  margin-left: 10px;
  width: 217px;
  height: 52px;
  padding: 0 32px;
  background-color: rgb(29, 155, 240);
  border: none;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.btnPost:hover {
  background-color: rgb(24, 129, 199);
}
.btnTrend {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #71767b;
  border: none;
  border-radius: 50%;
  background-color: rgb(22, 24, 28);
  cursor: pointer;
  transition: 0.2s;
}
.btnTrend:hover {
  background-color: #1d9bf01a; 
}
.btnTrend svg:hover {
  color: rgb(29, 155, 240);
}
.loginRegisterPage {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}
.loginRegister {
  width: 600px;
  height: 700px;
}
.wallpaper {
  margin-bottom: 70px;
}
.wallpaper img {
  position: relative;
}
input[type="file"] {
  display: none;
}
.wallpaperPreviewArea {
  border: 1px solid gray;
  display: inline-block;
  width: 550px;
  height: 183px;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
}
.profilePictures {
  position: absolute;
  left: 17px;
  top: 120px;
  height: 133px;
  width: 133px;
  border: solid 5px #000;
  border-radius: 50%;
  overflow: hidden;
}
.profilePictures img {
  position: relative;
  object-fit: cover;
}
.profilePictureRelative {
  position: relative;
}
.profilePicturesPreviewArea {
  position: absolute;
  display: inline-block;
  width: 133px;
  height: 133px;
  top: -6px;
  left: -5px;
  cursor: pointer;
}
.btnFile {
  width: 100%;
  height: 200px;
}
.btnBox {
  width: 220px;
  position: relative;
  margin: 0 auto;
  /* box-shadow: 0 0 30px 1px rgb(29, 155, 240); */
  border-radius: 16px;
}
.slider {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 110px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  z-index: 1;
  transition: .2s;
}
.left {
  left: 0;
  top: 0;
}
.btnToggle {
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  background: transparent;
  position: relative;
  outline: none;
  color: #fff;
}
.form {
  position: relative;
  top: 60px;
  width: 100%;
  transition: .2s;
}
#login {
  left: 146px;
}
.form input[type="text"],
.form input[type="password"],
.form input[type="email"]
{
  display: block;
  width: 50%;
  line-height: 28px;
  border: 2px solid transparent;
  border-bottom-color: #938f8f;
  padding: .2rem 0;
  outline: none;
  background-color: transparent;
  color: #fff;
  transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-bottom: 10px;
}
.form input::placeholder {
  color: #fff;
}
.form input:focus, .form input:hover {
  outline: none;
  padding: .2rem 1rem;
  border-radius: 1rem;
  border-color: rgb(29, 155, 240);
}
.form input:focus::placeholder {
  opacity: 0;
  transition: 1s;
}
.btnLogin {
  width: 150px;
  height: 40px;
  padding: 0 32px;
  border-radius: 24px;
  border: none;
  color: #fff;
  background-color: rgb(29, 155, 240);
  cursor: pointer;
  margin-top: 12px;
  margin-left: 70px;
}
.btnLogin:hover {
  background-color: rgb(41, 147, 217);
}
.profileArea {
  position: relative;
}
.profileUsername {
  height: 58px;
  width: 100%;
  padding: 6px 16px;
  border-bottom: 1px solid #2f3336;
  & h4 {
    font-size: 20px;
    font-weight: bold;
  }
}
.informationProfile {
  height: 197px;
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 16px;
  & h4 {
    font-size: 20px;
  }
  & h5 {
    font-size: 15px;
    color: #71767b;
    margin-bottom: 12px;
  }
  & h3 {
    font-size: 15px;
    color: #E7E9EA;
    margin-bottom: 7px;
  }
}
.joinedX {
  display: flex;
  align-items: center;
  gap: 5px;
  & h6 {
    font-size: 15px;
    color: #71767b;
  }
}
.setupProfile {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}
.setupProfile button {
  color: #fff;
  background-color: #000;
  height: 36px;
  padding-inline: 16px;
  border-radius: 17px;
  outline: none;
  cursor: pointer;
  border: 1px solid rgb(83, 100, 113);
}
.displayShare {
  width: 100%;
  display: flex;
  height: 53px;
  border-bottom: 1px solid #2f3336;
  /* background-color: aquamarine; */
}
.displayClickArea {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 100%;
  padding: 0 16px;
}
.displayClickArea:hover button {
  background-color: #e7e9ea13;
  cursor: pointer;
}
.displaybtnPost,
.displaybtnLikes {
  width: 100%;
  color: #fff;
  background-color: #000;
  outline: none;
  border: none;
}
.border {
  border-bottom: 2px solid #1D9BF0;
}
.textwhite {
  color: #fff;
}
.addTweetArea {
  background-color: #dcdfe1;
  width: 600px;
  height: 280px;
  border: 1px solid #1D9BF0;
  border-radius: 20px;
  padding: 10px 15px;
  /* background-color: yellowgreen; */
  position: absolute;
  left: 209%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999; 
  -webkit-box-shadow: -12px 0px 169px 35px rgba(29,155,240,0.8);
  -moz-box-shadow: -12px 0px 169px 35px rgba(29,155,240,0.8);
  box-shadow: -12px 0px 169px 35px rgba(29,155,240,0.8);
}
.btnModal {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  background-color: #dcdfe1;
  margin-bottom: 15px;
  border: none;
  transition: 0.2s;
  cursor: pointer;
}
.btnModal:hover {
  background-color: #0f78bebc;;
}
.profileandTweet {
  display: flex;
  width: 100%;
  height: 160px;
  border-bottom: 1px solid #2f3336;
}
.modalProfilePictures {
  width: 40px;
  margin-right: 12px;
}
.modalImg {
  /* border: solid 1px green; */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.modalImg img {
  object-fit: cover;
}
.tweetForm {
  width: 100%;
  padding: 10px 4px;
  position: relative;
}
.tweetForm input {
  width: 100%;
  color: #000;
  background-color: #dcdfe1;
  font-size: 20px;
  outline: none;
  border: none;
  padding-inline: 2px;
}
.tweetForm button {
  padding: 0 16px;
  height: 36px;
  width: 66px;
  border-radius: 20px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  border: none;
  color: #fff;
  background-color: #1D9BF0;
  transition: 0.2s;
  cursor: pointer;
}
.tweetForm button:hover {
  background-color: #0f78be;
}
.shortcutRelative {
  background-color: #1D9BF0;
  width: 100%;
  height: 200px;
  display: flex;
  position: relative;
}
.shortcutArea {
  width: 100%;
  display: flex;
  align-items: center;
  height: 90px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  right: 0;

}
.shortcutContent {
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding-left: 10px;
  height: 65px;
}
.shortcutContent:hover {
  background-color: rgb(231, 233, 234, 0.1);
}
.shortcutImg {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}
.shortcutImg img {
  object-fit: cover;
}
.shortcutUser {
  width: 120px;
  padding-left: 18px;
}
.shortcutSignout {
  display: flex;
  justify-content: center;
  width: 80px;
}
.btnLogout {
  padding: 5px 10px;
  border-radius: 18px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  cursor: pointer;
}
.postArea {
  width: 100%;
  display: flex;
  /* background-color: #1D9BF0; */
  border-bottom: 1px solid #2f3336;
  padding: 12px 16px;
}
.postArea:hover {
  cursor: pointer;
}
.postUserImg {
  height: 100%;
  width: 40px;
  margin-right: 12px;
}
.postUserImgArea {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.postUserImgArea img {
  object-fit: cover;
}
.postOtherDetails {
  flex: 1;
}
.postUserInformation {
  display: flex;
  gap: 8px;
  align-items: center;
    & h3 {
      font-size: 15px;
    }
    & h4 {
      font-size: 15px;
      color: #71767b;
    }
}
.postUserInformation h3:hover {
  text-decoration: underline;
}
.postContent {
  max-width: 509px;
  margin-bottom: 10px;
}
.postIcons {
  height: 32px;
  width: 100%;
  display: flex;
  align-items: center;
}
.postIcons div:nth-child(-n+4) {
  margin-right: 77px;
}
.commentIcon {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.commentIcon svg {
  fill: #71767b;
}
.commentIcon:hover {
  cursor: pointer;
  background-color: #1d9cf02c;
    & svg {
      fill: #1D9BF0;
    }
}
.repostIcon {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.repostIcon svg {
  fill: #71767b;
}
.repostIcon:hover {
  cursor: pointer;
  background-color: #00ba7c2c;
    & svg {
      fill: #00ba7c;
    }
}
.postLikeIcon {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.postLikeIcon svg {
  fill: #71767b;
}
.postLikeIcon:hover {
  cursor: pointer;
  background-color: #f918812c;
    & svg {
      fill: #f91881;
    }
}
.registerCompleted {
  padding-top: 70px;
  text-align: center;
  letter-spacing: 3px;
}