*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #000;
  color: #fff;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* css reset kodu ---> 'https://www.joshwcomeau.com/css/custom-css-reset/' */
h4 {
  color: #fff;
  font-size: 20px;
}
details {
  padding: 12px;
  border-left: 1px solid #2f3336;
  border-top: 1px solid #2f3336;
  border-bottom: 1px solid #2f3336;
}
summary {
  display: flex;
  align-items: center;
  gap: 12px;
}
.container {
  width: 1265px;
  margin: 0 auto;
  display: flex;
}
.main {
  display: flex;
  flex: 1;
  gap: 30px;
}
.content {
  max-width: 600px;
  flex: 1;
  border-left: 1px solid #2f3336;
  border-right: 1px solid #2f3336;
}
.leftbar {
  width: 275px;
  height: 100vh; 
  /* 100vh 'view height' ekranın görünen yüksekliğinin tamamı anlamına gelir */
}
.logo {
  width: 60px;
  height: 60px;
}
.rightbar {
  width: 350px;
}
.navbar {
  padding-left: 5px;
}
.navbarBox {
  display: inline-flex;
  align-items: center;
  padding: 12px;
  height: 50.25px;
  gap: 12px;
  border-radius: 25px;
}
.navbarBox:hover {
  background-color: #2f3336;
}
.details {
  display: flex;
  align-items: center;
  gap: 12px;
}
details[open] summary {
  padding-bottom: 20px;
}
.details:hover {
  background-color: #2f3336;
}
.homeList {
  display: flex;
  height: 53px;
  border-bottom:1px solid #2f3336;
  position: sticky;
}
.homeList li {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeList a {
  color: rgb(113, 118, 123);
  height: 52px;
  display: flex;
  align-items: center;
  
}
.homeList li:first-child {
  border-right: 1px solid #2f3336;
}